<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google_auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.105797830130-sdde13lpju8564qb49gc5jldd3as70hh</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>dropbox_auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>db-two3roiokxbw49y</string>
			</array>
		</dict>
	</array>
	<key>CLIENT_ID</key>
	<string>105797830130-sdde13lpju8564qb49gc5jldd3as70hh.apps.googleusercontent.com</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>yandexauth</string>
		<string>yandexauth2</string>
		<string>yandexauth4</string>
		<string>primaryyandexloginsdk</string>
		<string>secondaryyandexloginsdk</string>
		<string>dbapi-8-emm</string>
		<string>dbapi-2</string>
	</array>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105797830130-sdde13lpju8564qb49gc5jldd3as70hh</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
</dict>
</plist>
