<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.105797830130-sdde13lpju8564qb49gc5jldd3as70hh</string>
			</array>
		</dict>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>yx5297bdd1ed55465097544d58fb680e78</string>
            </array>
        </dict>
	</array>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>yandexauth</string>
        <string>yandexauth2</string>
        <string>yandexauth4</string>
    </array>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>YandexLoginSDK</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>yx6f335125c3f94053886fc5aa01177a41</string>
            </array>
        </dict>
    </array>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>primaryyandexloginsdk</string>
        <string>secondaryyandexloginsdk</string>
    </array>
	<key>CLIENT_ID</key>
	<string>105797830130-sdde13lpju8564qb49gc5jldd3as70hh.apps.googleusercontent.com</string>
</dict>
</plist>
